# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
#*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*/*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Test/.idea/libraries/
hs_err_pid*
Test/.idea/
Hillel/.idea/
.idea
*/*/workspace.xml
#TestPeretest/
